/*Importar fontes*/
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --cor-primaria: #262621;
  --cor-secundaria: #bfbfae;
  --cor-success: #73675a;
  --cor-danger: #8c8072;
  --cor-warning: #f2f2f2;
  --cor-info: #17a2b8;
  --cor-light: #f8f9fa;
  --cor-dark: #343a40;
  --cor-danger-light: #dc3545;
}
:root {
  --font-titulo: "Source Code Pro", monospace;
  --font-conteudo: "Google Sans Code", monospace;
}
